.style-title {
    text-align: center;
    margin-top: 30px;
}

.or-list-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment-left {
    background: #f1efef;
    padding: 20px;
}

.title-list-or {
    color: rgba(253, 70, 62, 0.84);
}

.title-center-form {
    text-align: center;
}

.title-center-form h3 {
    font-weight: bold;
}

.title-center-form h4 {
    color: rgba(253, 70, 62, 0.84);
    margin-top: 20px;
    margin-bottom: 10px;
}

.line-title-form {
    border-bottom: 2px solid #999;
    opacity: 0.3;
}

.hid-space {
    margin-bottom: 20px;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.form-payment {
    padding: 20px;
}

.space-top-in-form {
    margin-top: 50px;
}

.tabs-edit {
    border-bottom: 0px solid #ddd;
}

.tabs-edit>li.active>a,
.tabs-edit>li.active>a:hover,
.tabs-edit>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}

.tabs-edit>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px 0px 0 0;
}

.tabs-edit>li>a:hover {
    border-bottom: 2px solid #F2B410;
    background: none;
}

.tabs-edits>li>a:focus {
    /* color: #F2B410 !important; */
    border-bottom: 2px solid #F2B410!important;
}

.tabs-edit>li.active>a,
.tabs-edit>li.active>a:hover,
.tabs-edit>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* color: #F2B410 !important; */
    border-bottom: 2px solid #F2B410!important;
}


/* tab user profile */

.profile-box-left {
    background: #EFF2F5;
    padding-bottom: 10px;
    border: 1px solid #ddd;
}

.profile-menu {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background: white;
}

.profile-box-body {
    background: white;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.box-mypoint {
    background: white;
    border: 1px solid #c9c7c7;
    margin: 50px 0px;
    padding: 20px;
}

.box-mypoint h3 {
    margin-bottom: 5px;
}

.tabs-edit-point>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
}


/* tab-browes-restaurant */

.bres-box-body {
    margin: 0px;
    padding: 10px;
}

.box-category {
    background: white;
    border-top: 2px solid green;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.title-in-browes-res {
    padding: 5px 10px 35px 30px;
}

.title-in-browes-res p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    font-weight: bold;
    margin-bottom: 0px;
}

.box-item1 {
    border-bottom: 1px solid #ddd;
    background: #F8F8F8;
    padding: 10px;
}

.box-item2 {
    border-bottom: 1px solid #ddd;
    background: white;
    padding: 10px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    /* color: #555; */
    text-decoration: none;
    background-color: #f5f5f5;
}

a.list-group-item:active,
button.list-group-item:active,
a.list-group-item:focus,
button.list-group-item:focus {
    border-left: 2px solid orange;
}

.box-opening {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.opening-hours-box {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.opening-hours-box:hover {
    background: #f5f5f5;
}

.opening-button-right {
    text-align: right;
}

.box-review {
    margin-top: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.box-map-out {
    margin-top: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.box-map {
    border-top: 2px solid green;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 400px;
}


/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .map {
        width: 100%;
        height: 250px;
    }
}

.map-form {
    margin-top: 10px;
}

.no-border-radius {
    border-radius: 0px;
    margin-right: 20px;
}

.box-bookatable {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.title-in-browes-res-in-book {
    padding: 5px 10px 10px 30px;
}

.line-in-book {
    border-top: 2px solid #ddd;
    margin-bottom: 10px;
}

.wra-box-photo {
    margin-top: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.wra-box-info {
    margin-top: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.wra-bro-res {
    margin: 0px;
    padding: 10px;
}

.box-resss {
    margin-top: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}


/*--tyra*/


/* body{margin:50px;}  */

#accordion .glyphicon {
    margin-right: 10px;
}

.panel-collapse>.list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
}

.panel-collapse>.list-group {
    margin-bottom: 0;
}

.panel-collapse .list-group-item {
    border-radius: 0;
}

.menu-left {
    margin-top: 5px;
}

.mar-food {
    margin-bottom: 40px;
}

i {
    float: right;
}

.sub-con-mid,
.sub-con-right {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10); */
    /* margin-left: 25px;  */
}


/* .text {
    color: coral;
} */

.food-name {
    font-size: 20px;
    /* background-color: brown;  */
    text-indent: 1%;
    /* margin-bottom: 10px; */
    margin-top: 9px;
}

.box-cover-food {
    margin-top: 15px;
}

.mar-left {
    text-indent: 5%;
}

.img-food {
    width: 50%;
    margin-top: 10px;
}

.box-price {
    float: right;
    margin-bottom: 10px;
    MARGIN-RIGHT: 9%;
}

.mar-img {
    margin-bottom: 10px;
}

.navbar-fixed-top.opaque {
    background-color: rgba(17, 17, 17, 0.95)!important;
    transition: background-color 1s ease 0s;
}


/* sopheak */

.menu-left {
    margin-top: 10px;
}

.list-border {
    /* border: 1px solid gray; */
    /* margin-top: 5px; */
}

.list-border-content {
    border: 1px solid gray;
    margin-top: 5px;
    padding: 10px;
}

.list-right {
    margin-top: 5px;
}

.img-size {
    width: 70px;
    height: 70px;
}

.heading-border-bottom {
    border-bottom: 2px solid #f3b517;
    background: rgba(53, 53, 53, 0.14);
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-body .list-right .list-group-item p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    margin-bottom: 0;
}

.panel-body .list-right .list-group-item h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

textarea {
    height: 205px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #656565;
    border: 1px solid #ddd;
    background-color: transparent;
    font-size: 14px;
    float: left;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


/* .maps {
    width: 100%;
    height: 100%;
} */

.box-grid {
    border: 1px solid #ddd;
    background: white;
    /* min-height: 300px;
    max-height: 300px; */
    height: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .box-grid {
        border: 1px solid #ddd;
        background: white;
        height: 350px;
        padding: 5px;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .box-grid {
        border: 1px solid #ddd;
        background: white;
        height: 330px;
        padding: 5px;
        margin-bottom: 10px;
    }
}

.box-img-grid {
    /* border: 1px solid #ddd; */
    background: lightblue;
    height: 150px;
}

@media (max-width: 768px) {
    .box-img-grid {
        /* border: 1px solid #ddd; */
        background: lightblue;
        height: 175px;
    }
}

.img-grid {
    width: 100%;
    height: 100%;
}

.box-title-grid {
    min-height: 70px;
    max-height: 120px;
    /* background: pink; */
}

.box-grid .box-title-grid p {
    font-weight: bold;
    /* text-align: center; */
}

.box-btn-order {
    /* margin-top: 2px; */
    /* text-align: center; */
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.space-promo {
    margin: 20px;
}

.h4-style-login {
    padding-top: 5px;
    padding-left: 35px;
}

.box-profile {
    border: 1px solid #ddd;
    padding: 20px
}

.box-profile-img {
    text-align: center;
}

.box-browes {
    margin-top: 10px;
    text-align: center;
}

.box-profile-title {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.modal-content {
    border-radius: 0px;
}

.box-adv {
    /* border: 1px solid #ddd; */
}

.box-adv-img {
    text-align: center;
    margin-bottom: 10px;
}

.box-popup-price {
    font-size: 16px;
    padding: 10px;
}

.box-popup-price2 {
    border: 1px solid #ddd;
}

.box-popup-quantity {
    padding: 10px;
}

.nop {
    margin-top: 0px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}

.no-radius {
    border-radius: 0px;
}